* {
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  display: flex;
  font-family: 'Raleway', 'Verdana',  sans-serif;
  margin: 4rem;
}

h1{
  font-family: 'Roboto Slab', 'Georgia', serif;
  padding: 40px;
  display: flex;
}

p{
  margin: 0;
  padding: 40px;
  display: flex;
 }

 }
 #Gross Domestic Product {

 }

 #Goverment Comsumption expenditures and Gross investment in 2018 - Q1 {


 }
